/*Flexbox Column Stylesheet*/
html, body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 80%;
  h:
  border: 2px solid red;
  flex-direction: column;
}
.item {
  padding: 10px;
  margin: 4px;
  background-color: purple;
}
