/*Flexbox Container Stylesheet*/

.container {
  width: 80%;
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
}
.item {
  width: 300px;
  height: 100px;
  /*padding: 50px 20px;*/
  margin: 4px;
  background-color: purple;
  flex-grow: 1;
}
