/* FLOAT STYLE CSS*/

* {
}
body {
  width: 100%;
  height: 100%;


}

section {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #218262;
}

fleft {
  float: left;
}
img {
  float: right;
}
