#main {
    display: flex;
    flex-direction: column;
}

nav, article, aside {
    flex-grow: 1;
}

@media all and (min-width: 640px) {

    #main {
        flex-direction: row;
    }

    #main > article {
        /*flex: 3 60%;*/
        flex-grow: 3;
        flex-shrink: 0;
        flex-basis: 60%;
    }

    #main > nav {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 20%;
        /*flex: 1 20%;*/
    }

    #main > aside {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 20%;
        /*flex: 1 20%;*/
    }

}

/**/
