/* Float Clear Stylesheet*/

body {
  margin: 0;
  padding: 0;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  border: 2px solid #af4ac9;
}

.overfl {
  /*width: 200px;
  height: 50px;*/
  float:right;
  border: 2px solid #1114aa;
}
#fleft {
  float: left;
}

p {
  clear:both;
}
