/*Flexbox Flex Start Stylesheet*/

.container {
  width: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    /* needed to have div's wrap */
  justify-content: flex-start;
      /* does little to assist in this setup */
}
.item {
/*  height: 100px;*/
      /*  will not align text vertically if used    */
  padding: 50px 20px;
      /* gives dimension to text with in item/div */
  margin: 4px;
  background-color: purple;
/*  flex-grow: 1;*/
    /* add to see expansion that does not justify to show function properly */
  text-align: center;
/*  align-self: center;*/
      /* will not align text without  (i.e p, a, etc...)    */
}
