/*Flexbox Container Column Reverse Stylesheet*/

.container {
  margin: 0 auto;
  width: 80%;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.item {
  padding: 20px;
  margin: 4px;
  background-color: purple;
  text-align: center;
}
